apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  labels:
    app: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud
  template:
    metadata:
      labels:
        app: nextcloud    
    spec:
#Containerbeginn
      containers:
      - name: nextcloud
        image: nextcloud
        env:
        - name: TZ
          value: Europe/Amsterdam
        - name: NEXTCLOUD_URL
          value: https://nextcloud.io
        - name: NEXTCLOUD_UPLOAD_MAX_FILESIZE
          value: 4G
        - name: NEXTCLOUD_MAX_FILE_UPLOADS
          value: "20"
        - name: NEXTCLOUD_TRUSTED_DOMAINS
          value: "nextcloud.io"
#Datenbankanbindung
        - name: POSTGRES_DB
          value: nextcloud_db
        - name: POSTGRES_HOST
          value: next-postgres.nextcloud.svc.cluster.local
        - name: POSTGRES_PORT
          value: "5432"
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: nextcloud.next-postgres.credentials
              key: username
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: nextcloud.next-postgres.credentials
              key: password
#offene Ports des Containers
        ports:
        - name: apache
          containerPort: 80
          protocol: TCP
#Container-Volume
        volumeMounts:
        - mountPath: /var/www/html
          name: nextcloud-storage
#Anbindung des PVC
      volumes:
      - name: nextcloud-storage
        persistentVolumeClaim:
        claimName: nextcloud-claim
---
#PVC (separates Manifest in der selben Datei)
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: nextcloud-claim
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5G
